{%load static %}

<!DOCTYPE HTML>
<html class="no-js" lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'change/logo.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/progressbar_barfiller.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/lightslider.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/price_rangs.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/animated-headline.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
    
</head>
<body>
    <!-- ? Preloader Start  -->
    <div id="preloader-active" >
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div> <!-- _common.scss -->
                <div class="preloader-img pere-text">
                    <img src="{% static 'change/logo.png '%}" alt="" width="100">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
       
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row menu-wrapper align-items-center justify-content-between">
                        <div class="header-left d-flex align-items-center">
                            <!-- Logo -->
                            <div class="logo">
                                
                                <a href="{%url 'home'%}"><img src="{% static 'change/logo.png' %}" alt="logo"></a>
                            </div>
                            <!-- Logo-2 -->
                            <div class="logo2">
                                <a href="{%url 'home'%}"><img src="{% static 'change/logo.png'%}" alt="" width = "77"></a>

                            </div>
                            <!-- Main-menu -->
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{%url 'home'%}">Trang Chủ</a></li> 
                                        <li><a href="{%url 'product'%}">Sản Phẩm</a>
                                            <ul class="submenu">
                                                <li><a href="">--Tất Cả--</a></li>
                                                <!-- {% for categor in categories %} -->
                                                <li>Gỗ Nhà Gô</li>
                                                <li>2Hand Nhà Gô</li>
                                                <li>Đất Nhà Gô</li>


                                                <!-- {% endfor %} -->
                                                
                                            </ul>

                                        </li>
                                        <li><a href="about.html">Giới Thiệu</a></li>
                                        <li><a href="#">Cá Nhân</a>
                                            <ul class="submenu">
                                                <li><a href="{%url 'login'%}">Đăng Nhập {{user_name}}</a></li>
                                                <li><a href="{%url 'cart'%}">Giỏ Hàng</a></li>
                                                <li><a href="categories.html">Danh Mục</a></li>
                                                <li><a href="checkout.html">Thanh Toán</a></li>
                                                <li><a href="product_details.html">Chi Tiết</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Liên Hệ</a>
                                        	<ul class="submenu">
                                        	    <li><a href="https://www.facebook.com/hugowoodworking" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i>Facebook</a></li>
                                        	    <li><a href="https://www.instagram.com/tiemnhago/" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i>Instagram</a></li>
                                        	    <li><a href="{%url 'contact' %}">Thông Tin</a></li>
                                        	</ul>
                                        </li>
                                        <!-- <li><a href="blog.html">Ngôn Ngữ</a>
                                            <ul class="submenu">
                                                <li><a href="{%url 'elements'%}">Tiếng Việt</a></li>
                                                <li><a href="blog_details.html">Tiếng Anh</a></li>
                                            </ul>
                                        </li> -->
                                    </ul>
                                </nav>
                            </div>   
                        </div>
                        <div class="header-right1 d-flex align-items-center">
                            <div class="search">
                                <ul class="d-flex align-items-center">
                                    <li>
                                        <!-- Search Box -->
                                        <form action="#" class="form-box f-right ">
                                            <input type="text" name="Search" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="ti-search"></i>
                                            </div>
                                        </form>
                                    </li>
                                    <li>
                                        <a href="{%url 'login'%}" class="account-btn" target="_blank">
                                        {% if user_name != null %}
                                            {{user_name}}
                                        {% else %}
                                            Đăng Nhập
                                        {% endif %}
                                     </a>
                                    </li>
                                    <li>
                                        <div class="card-stor">
                                            <img src="{%static 'assets/img/icon/card.svg'%}" alt="">
                                            <!-- <span>0</span> -->
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- header end -->


{%block content%}


{%endblock%}


    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container ">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo mb-35">
                                <a href="{%url 'home'%}"><img src="{% static 'assets/img/logo/logo2_footer.png'%}" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
                                </div>
                            </div>
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Quick links</h4>
                            <ul>
                                <li><a href="#">Image Licensin</a></li>
                                <li><a href="#">Style Guide</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Shop Category</h4>
                            <ul>
                                <li><a href="#">Image Licensin</a></li>
                                <li><a href="#">Style Guide</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Pertners</h4>
                            <ul>
                                <li><a href="#">Image Licensin</a></li>
                                <li><a href="#">Style Guide</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-12 ">
                        <div class="footer-copy-right text-center">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer End-->
  </div>
</footer>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static '/assets/js/vendor/modernizr-3.5.0.min.js'%}"></script>
<script src="{% static '/assets/js/vendor/jquery-1.12.4.min.js'%}"></script>
<script src="{% static '/assets/js/popper.min.js'%}"></script>
<script src="{% static '/assets/js/bootstrap.min.js'%}"></script>

<!-- Slick-slider , Owl-Carousel ,slick-nav -->
<script src="{% static '/assets/js/owl.carousel.min.js'%}"></script>
<script src="{% static '/assets/js/slick.min.js'%}"></script>
<script src="{% static '/assets/js/jquery.slicknav.min.js'%}"></script>

<!-- One Page, Animated-HeadLin, Date Picker , price, light-slider -->
<script src="{% static '/assets/js/wow.min.js'%}"></script>
<script src="{% static '/assets/js/animated.headline.js'%}"></script>
<script src="{% static '/assets/js/jquery.magnific-popup.js'%}"></script>
<script src="{% static '/assets/js/gijgo.min.js'%}"></script>
<script src="{% static '/assets/js/lightslider.min.js'%}"></script>
<script src="{% static '/assets/js/price_rangs.js'%}"></script>

<!-- Nice-select, sticky,Progress -->
<script src="{% static '/assets/js/jquery.nice-select.min.js'%}"></script>
<script src="{% static '/assets/js/jquery.sticky.js'%}"></script>
<script src="{% static '/assets/js/jquery.barfiller.js'%}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static '/assets/js/jquery.counterup.min.js'%}"></script>
<script src="{% static '/assets/js/waypoints.min.js'%}"></script>
<script src="{% static '/assets/js/jquery.countdown.min.js'%}"></script>
<script src="{% static '/assets/js/hover-direction-snake.min.js'%}"></script>

<!-- contact js -->
<script src="{% static '/assets/js/contact.js'%}"></script>
<script src="{% static '/assets/js/jquery.form.js'%}"></script>
<script src="{% static '/assets/js/jquery.validate.min.js'%}"></script>
<script src="{% static '/assets/js/mail-script.js'%}"></script>
<script src="{% static '/assets/js/jquery.ajaxchimp.min.js'%}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static '/assets/js/plugins.js'%}"></script>
<script src="{% static '/assets/js/main.js'%}"></script>

</body>
</html>