{%extends 'base.html'%}
{% load static %}


{%block content%}
    <main class="login-bg">
        <!-- login Area Start -->
        <div class="login-form-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="login-form">
                            <!-- Login Heading -->
                            <div class="login-heading">
                                <span>Login</span>
                                <p>Enter Login details to get access</p>
                            </div>
                            <!-- Single Input Fields -->
                            <form action="{%url 'success'%}" method="POST">
                                {%csrf_token%}
                                <div class="input-box">
                                <div class="single-input-fields">
                                    <label>Username or Email Address</label>
                                    <input type="text" name="user_name" class="form-control" placeholder="Username / Email address" required>
                                </div>
                                <div class="single-input-fields">
                                    <label>Password</label>
                                    <input type="password" name="passwd" class="form-control"placeholder="Enter Password" required>
                                </div>
                                <div class="single-input-fields login-check">
                                    <input type="checkbox" id="fruit1" name="keep-log">
                                    <label for="fruit1">Keep me logged in</label>
                                <a href="#" class="f-right">Forgot Password?</a>
                                </div>
                            </div>
                            
                            <!-- form Footer -->
                            <div class="login-footer">
                                <p>Don’t have an account? <a href="{%url 'register' %}">Sign Up</a>  here</p>
                                <button type ="submit" class="submit-btn3">Login</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- login Area End -->
    </main>

 {%endblock%}